{
  "**/*.js": [
    "prettier --ignore-path .eslintignore --write"
  ],
  "*.{json,yml,yaml}": [
    "prettier --ignore-path .eslintignore --write"
  ],
  "*.{md,mdx}": [
    "prettier --ignore-path .eslintignore --write"
  ],
  "{packages,docs}/**/*.{ts,tsx,js}": [
    "eslint --fix",
    "prettier --ignore-path .eslintignore --write"
  ],
  "**/*.rs": [
    "cargo fmt --"
  ]
}
